<!DOCTYPE html>
<html>
    <head>
        <!-- external css-->
        <link rel="stylesheet" href="../css/styles.css" />
        <!-- grid -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
        <!-- icon -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        
        <!-- Scrip Carausel -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
        
    </head>
    <body>
        <div class="container-fluid">
            <div class="row mini-header">
                <div class="col-sm-2"">
                    <img class="mini-icon" src="../icon/mobile-screen-button-solid.svg">
                    <a class="mini-header" href="https://www.tokopedia.com/mobile-apps/">Download Tokopedia App</a>
                </div>
                <div class="col-sm-5">
                </div>
                <div class="col-sm-5 position-right">
                    <a class="mini-header" href="">Tentang Tokopedia</a>
                    <a class="mini-header" href="">Mitra Tokopedia</a>
                    <a class="mini-header" href="">Mulai Berjualan</a>
                    <a class="mini-header" href="">Promo</a>
                    <a class="mini-header" href="">Tokopedia Care</a>
                </div>
            </div>
            <div class="row medium-header">
                <img class="logo" src="../img/logo-tokped.svg">
                <a class="medium-header" href="">Kategori</a>
                <input type="text" class="search" placeholder="Cari disini">
                <img class="medium-icon" src="../icon/cart-shopping-solid.svg">
                <button class="medium-header">Masuk</button>
                <button class="medium-header-fill">Daftar</button>
            </div>
        </div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin: 0px 30px 0px 30px;">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
        
              <div class="item active">
                <img src="../img/c1.jpg" alt="Los Angeles" style="width:100%;">
              </div>
              <div class="item">
                <img src="../img/c2.jpg" alt="Chicago" style="width:100%;">
              </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
          

        <div class="row content">
            <div class="col-sm-6"" style="margin: 5px;">
                <h3 style="padding-bottom: 15px;">Kategori Pilihan</h3>
                <div class="row">
                    <div class="col-sm-3 content">
                        <img src="../img/Earphone.png" width="100%">
                    </div>
                    <div class="col-sm-3 content">
                        <img src="../img/Kacamata Pria.png" width="100%">
                    </div>
                    <div class="col-sm-3 content">
                        <img src="../img/Kaos Pria.png" width="100%">
                    </div>
                    <div class="col-sm-3 content">
                        <img src="../img/Mousepad.png" width="100%">
                    </div>
                </div>
            </div>
            <div class="col-sm-5"" style="margin: 5px;">
                <h3 style="padding-bottom: 15px;">Top Up dan Tagihan</h3>
                <div class="row" style="text-align: center;">
                    <div class="col-sm-3 content-nav" id="beliPulsa">
                        Pulsa
                    </div>
                    <div class="col-sm-3 content-nav" id="beliPaket">
                        Paket
                    </div>
                    <div class="col-sm-3 content-nav" >
                        Listrik
                    </div>
                    <div class="col-sm-3 content-nav">
                        PLN
                    </div>
                </div>
                <div class="row" style="flex: 1 1 auto;">
                    <div class="col-sm-5">
                        <label for="">
                            Nomor Telpon
                        </label>
                        <input type="text" class="pulsa" placeholder="0812345678" id="noTelepon">
                    </div>
                    <div class="col-sm-5">
                        <label for="">
                            Nominal
                        </label>
                        <!--input type="text" class="pulsa" disabled-->
                        <select id="noms" class="pulsa" disabled>
                            <option value="0">Pilih</option>
                            <option value="1">Rp. 1.000</option>
                            <option value="2">Rp. 3.000</option>
                            <option value="3">Rp. 5.000</option>
                            <option value="4">Rp. 10.000</option>
                            <option value="5">Rp. 20.000</option>
                            <option value="6">Rp. 25.000</option>
                            <option value="7">Rp. 50.000</option>
                            <option value="8">Rp. 100.000</option>
                          </select>
                          <select class="pulsa" id="menuPilihPulsa" disabled hidden>
                            <option value="0">Pilih Paket Data</option>
                            <option value="1">Internet 10 GB - Rp. 30.500</option>
                            <option value="2">Internet 15 GB - Rp. 43.000</option>
                            <option value="3">Internet Combo Unlimited (Kuota Malam) - Rp. 20.000</option>
                            <option value="4">Internet Combo Unlimited - Rp. 70.000</option>
                        </select>
                    </div>
                    
                    <div class="col-sm-2" style="margin-top: 25px;">
                        <button class="medium-header-fill-grey" disabled id="tombolAbu">Beli</button>
                        <button class="medium-header-fill-green" hidden id="tombolHijau">Beli</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                $("#noTelepon").change(function(){
                    if ($("#noTelepon").val() > 0) {
                        $("#noms").prop("disabled", false);
                        $("#menuPilihPulsa").prop("disabled", false);
                        alert("Nomor Telepon adalah " + $("#noTelepon").val())
                        confirm("Nomor Telepon Anda Adalah " + $("#noTelepon").val())
                    }
                    else {
                        $("#noms").prop("disabled", true);
                        $("#menuPilihPulsa").prop("disabled", true);
                        document.getElementById("#noms").value = "Pilih";
                        document.getElementById("#menuPilihPulsa").value = "Pilih Paket Data";
                    }
                    console.log($("#noTelepon").val())
                });
                $("#noms").change(function(){
                    $("#tombolAbu").hide();
                    $("#tombolHijau").show();
                    $("#noms").show();
                    
                    $("#menuPilihPulsa").hide();
                });

                $("#noTelepon").keypress(function(value) {
                 if (value.which != 8 && value.which != 0 && (value.which < 48 || value.which > 57)) {
                return false;
                }
                });

                $("#tombolHijau").click(function() {
        const chooseMenu = $("#noms").children("option:selected").text();
        if (chooseMenu === "Pilih") {
            
        } else {
            var price = chooseMenu.substring(4);
            var i = "";
            i = price === "1.000" ? "Rp. 4.000" : i;
            i = price === "3.000" ? "Rp. 6.000" : i;
            i = price === "5.000" ? "Rp. 8.000" : i;
            i = price === "10.000" ? "Rp. 12.000" : i;
            i = price === "20.000" ? "Rp. 22.000" : i;
            i = price === "25.000" ? "Rp. 27.000" : i;
            i = price === "50.000" ? "Rp. 52.000" : i;
            i = price === "100.000" ? "Rp. 102.000" : i;
            let verif = confirm("Pembelian pulsa sebesar " + chooseMenu + " ke nomor " + $("#noTelepon").val());
            if (verif) {
                alert("Total harga pulsa " + i + ",- ke nomor " + $("#noTelepon").val() + " sedang di proses. Terima kasih :)");
            } else {

            }
        }
    });

    $("#tombolHijau").click(function() {
        const chooseMenu1 = $("#menuPilihPulsa").children("option:selected").text();
        if (chooseMenu1 === "Pilih Paket Data") {
           
        } else {
            let price = chooseMenu1.substring(chooseMenu1.length - 10);
            let verif2 = confirm("Pembelian paket data " + chooseMenu1 + " ke nomor " + $("#noTelepon").val());
            if (verif2) {
                alert("Total harga paket data " + price + ",- ke nomor " + $("#noTelepon").val() + " sedang di proses. Terima kasih :)");
            } else {

            }
        }
    });
      
            $("#beliPaket").click(function() {
                $("#noms").hide();
                $("#noms").prop("disabled", true);
                $("#menuPilihPulsa").prop("hidden", false);
                $("#menuPilihPulsa").show();
                });
            $("#beliPulsa").click(function() {
                $("#noms").show();
            $("#menuPilihPulsa").hide();
                });
                        //$('#aioConceptName').find(":selected").text();
                        $("#menuPilihPulsa").change(function() {
                const pilihan = $("#menuPilihPulsa").children("option:selected").text();
                if (pilihan != "Pilih") {
                $("#tombolAbu").hide();
                $("#tombolHijau").prop("hidden", false);
                $("#tombolHijau").prop("disabled", false);
                $("#tombolHijau").show();
                }else{
                $("#tombolAbu").show();  
                $("#tombolHijau").prop("hidden", true);
                $("#tombolHijau").prop("disabled", true);
                $("#tombolHijau").hide();
                }
            });
            });
            </script>
    </body>
</html>
